<html>
<head>
  <title><%= node.name %> Hadoop Cluster</title>
</head>
  
<body>
  <div class="nav"><a href="/">home</a></div>
  <h2>Hadoop Cluster for <%= node.name %></h2>

  <h3>Service Dashboards:</h3>
  <ul>
  <%- hadoop_services.each do |component| %>
    <%- next unless node[:dashpot][:links]["hadoop.#{component}"] %>
    <li><a href="<%= node[:dashpot][:links]["hadoop.#{component}"] %>">hadoop-<%= component %></a></li>
  <%- end %>
  </ul>

  <hr/>
  <h3>Interesting facts about my hadoop installation:</h3>

  <table class="interesting_facts">
    <%= summary_rows(node, @summary_keys) %>
  </table>
  
</body></html>
