<html>
  <head>
    <title>Hadoop EC2 Cluster</title>
  </head>
  
  <body>
    <h1>Hadoop EC2 Cluster</h1>

    <ul>
      <!-- FIXME: this is incorrect if the webfront isn't the jobtracker and namenode. Or if you're not on ec2 -->
      <li><a href="http://<%= @namenode_address   %>:50070/">NameNode</a></li>
      <li><a href="http://<%= @jobtracker_address %>:50030/">JobTracker</a></li>
      <!-- Uncomment if you use cloudera Desktop -->
      <!-- <li><a href="http://<%= node[:ec2][:public_hostname] %>:8088/">Cloudera Desktop</a></li> -->
      <li><a href="http://<%= node[:ec2][:public_hostname] %>:60010/">HBase Master</a> (if any)</li>
    </ul>

    <hr/>

    <h3>How to set up a tunneling proxy to your cluster</h3>

    <p>
      You should configure a proxy to browse the cluster. Run
      <pre>knife cluster proxy <%= node.name %></pre>
      and point your browser to
      <a href="http://github.com/infochimps/cluster_chef/raw/master/config/proxy.pac">this Proxy Auto-Configuration (PAC)</a> file.
    </p>
    
  </body>
  
</html>
